<!DOCTYPE html>
<html>

<head>
    <title>OAuth Authorization</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./util/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css">

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: 'Kanit', sans-serif;
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 3%, rgba(63,9,121,1) 49%, rgba(63,9,121,1) 100%);
        }

        p {
            color: #363636;
            font-size: 12px;
            font-weight: 600;
            padding: 20px;
        }

        .card {
            background-color: white;
            flex-direction: column;
            text-align: center;
            border-radius: 23px;
            height: 31%;
        }

        .button-auth {
            margin-top: 25%;
        }

        a {
            text-decoration: none!important;
            font-weight: bold;
            font-size: 30px;
            color: rgb(165 220 134);
            cursor: pointer;
            font-family: 'Kanit', sans-serif;
        }
    </style>
</head>

<body>
    <!-- <div class="card">
        <div class="button-auth">
            <h3>Uhhuuulll 🥳🥳🥳 seu video está pronto ✅</h3>
            <br>
           <a href="<%= youtubeVideo %>">Clique aqui para acessar</a>
        </div>
    </div> -->

    <script src="https://kit.fontawesome.com/c03ec31dc2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            Swal.fire({
                title: 'Uhhuuulll 🥳 seu video está pronto',
                icon: 'success',
                confirmButtonText: 'QUERO ACESSAR O VIDEO'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "<%= youtubeVideo %>";
                }
            });
        });
        </script>
        
</html>
